notes/inventory-v2.rnc

grammar {
  file = element file {
    attribute id { text },
    attribute name { text }, 

    # the following attributes are absent on the working-inventory
    attribute sha1 { text }?,
    attribute size { text }?,

    attribute revision { text }?,

    empty
  }

  directory = element directory {
    attribute id { text },
    attribute name { text },
    
    entry*
  }

  entry = 
    (file | directory )

  start = element inventory {
    element root {
      entry*
    }
  }
}
